<h1>{{user_name}}</h1>
<h2>Favorites</h2>
<ul>
    {{#each wiki_data as |wiki|}}

    <li>
        <p>{{name}}</p>
        <p>{{description}}</p>
        <p><a href="wiki/{{wiki.id}}">View</a></p>
    </li>

    {{/each}}

</ul>