    {{#each wikis as |wiki|}}
    <div class="card">
        <img src="{{img_url}}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>{{name}}</b></h4>
            <p>{{description}}</p>
        </div>
    </div>
    {{/each}}